/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&family=Rubik+Glitch&display=swap');

/* Document setup */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page--background {
    background-color: rgb(251, 37, 118, 0.5);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

/* Main container */
.app--main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    background-color: #150050;
    color: #B2B2B2;
    border-radius: 10px;
}

/* Info (Nav) container & children */

.info--container {
    text-align: center;
    position: relative;
}

.info--picture {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.info--container > h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 35px;
    color: #B2B2B2;
}

.info--email__link,
.info--linkedin__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    margin: 0px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.info--email__link {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #150050
}

.info--linkedin__link {
    background-color: blue;
    text-decoration: none;
    color:rgb(213, 213, 213);
}

.info--email__link > span,
.info--linkedin__link > span {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.info--container > a:hover {
    opacity: 0.8;
}

/* Main container (About & Available now) */
.main--container {
    padding: 0px 40px;
}

.main--title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main--text {
    font-size: medium;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Footer container & Children */
.footer-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #B2B2B2;
    padding: 20px 0px;
    border-radius: 0px 0px 10px 10px;
}

.footer--container > a:hover {
    opacity: 0.8;
}

.footer--github__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: antiquewhite;
    color: #150050;
    text-decoration: none;
}

.footer--pages__popup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 1px rgb(213, 213, 213);
    text-decoration: none;
}


